/* style.css
 * This file provides css styles.
 */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 10px;
    line-height: 1.2em;
    color: #555;
}

.orangeHeader {
    background-image: linear-gradient(-180deg, #CC9933 0%, #CC6600 100%);
    color:white;
    height:80px;
    border: 1px solid #CC6600;
    align: center;
}

.boxform {
    border: 3px solid #CC6600;
}

.viewFormTable {
    border: 0px;
    width: auto;
    font-size: 80%;
    align: center;
}

.formButton {
  display: inline-block;
  padding: 5px 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #CC6600;
  border: none;
  border-radius: 6px;
  box-shadow: 0 5px #999;
}

input[type=text] {
    padding: 5px 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #CC6600;
    box-sizing: border-box;
}
